<section id="about" class="about-us-section py-5 ">
  <div class="container">
    <div class="row align-items-center">
      <!-- Text Content -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <h2 class="fw-bold">Expert care for your<br />furry, feathery, or scaley friend</h2>
        <p class="mt-3">
          We know how stressful it is to leave your pets at home or alone. We are a team of
          experienced veterinarians. Trust us to love them like our own, and to keep them safe and happy till you're home.
        </p>
        <button class="btn btn-secondary mt-3" (click)="scrollTo('appointment-form')">Schedule a visit</button>
      </div>

      <!-- 2x2 Image Grid -->
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6">
            <div class="pet-image">
              <img src="../../assets/images/cat.jpg" class="img-fluid rounded" alt="Cat" />
            </div>
          </div>

          <div class="col-6">
            <div class="pet-image">
              <img src="../../assets/images/bird.jpg" class="img-fluid rounded" alt="Bird" />
            </div>
          </div>

          <div class="col-6">
            <div class="pet-image">
              <img src="../../assets/images/dog.jpg" class="img-fluid rounded" alt="Dog" />
            </div>
          </div>

          <div class="col-6">
            <div class="pet-image">
              <img src="../../assets/images/rat.jpg" class="img-fluid rounded" alt="Hamster" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
